@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --bg-primary-color: #C3E0E5;
    --bg-secondary-color: #41729F;
    --text-color-destaque: #f8f9f9;
    --text-color-primary: #274472;
    --text-error: red;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}
.header {
    background-color: var(--bg-secondary-color);
    min-height: 60px;
    color: var(--text-color-destaque);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: var(--bg-primary-color);
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-cadastro-item{
    margin-top: 50px;
}
#input-quantidade-item{
    width: 20px;
}
.list-container{
    width: 400px;
    height: 200px;
}
.input-container {
    font-size: 1.1rem;
}

.input-container input {
    border-radius: 8px;
    font-size: 1.1rem;
    color: var(--text-color-primary);
}

.link-impressao{
    margin: 40px;
}
form-itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}
